body {
  font-family: Arial, sans-serif;
  margin: 0;
}

img {
  width: 100%;
  max-width: 300px;
}
.skip-link {
  position: absolute;
  left: -999px;
}

.skip-link:focus {
  left: 10px;
  top: 10px;
  background: black;
  color: white;
  padding: 8px;
}
nav {
  background: #333;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 10px;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: yellow;
}
img {
  border: 2px solid #333;
  padding: 10px;
  border-radius: 10px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
img:hover {
  transform: scale(1.05);
}
.grid img:nth-child(odd) {
  border-radius: 30px;
}
.image-row {
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap; /* tránh tràn màn hình */
}

.image-row img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border: 2px solid #333;
  padding: 5px;
  border-radius: 10px;
}
